	#ahorcado{
		height: 280px;
		width: 264px;
		background-image: url('./hangman-game_pm-1320x273.jpeg');
	}
	#ganador{
		display: none;
		height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		font-size: 5 rem;
		position: fixed;
		width:100%;
		top:0;
		left: 0;
		background-color: white;
	}